* {
  box-sizing: border-box;
}
body {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: system-ui;
}

.container {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 100px;
  padding: 24px 0;
  font-size: 18px;
  box-shadow: 55555px 4px 16px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 10px;
  border: 3px inset white;
}

.score {
  width: 450px;
  height: 250px;
  background-color: white;
  padding: 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 4px 16px rgba(0, 0, 0, 0.2);
  color: #242424;
  border: 1px solid #3b3b3b;
}

.players,
.numbers {
  display: flex;
  justify-content: space-around;
}

.statement {
  margin-top: 56px;
}
